.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
}

.navbar-nav {
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #444;
}

ul {
    list-style-type: none;
}

.image {
    width: 150px;
    border-radius: 50%;
}

.owner {
    margin-top: 50px;

}

.wrapper {
    display: flex;
    gap: 30px;
}

.icons {
    display: flex;
    gap: 10px;
    font-size: 20px;
}

.btn-1 {
    background-color: rgb(143, 143, 255);
    padding: 10px 25px;
    color: white;
    border: blue;
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgb(143, 143, 255);
}
.btn-2 {
    background-color: white;
    padding: 10px 25px;
    color: rgb(143, 143, 255);
    border: 1px solid rgb(143, 143, 255);
    border-radius: 8px;
}

.buttons {
    display: flex;
    gap: 15px;
}

.navbar-nav:hover {
    color: black;
}