.container {
    max-width: 1200px;
    margin: 0 auto;
    /* display: flex; */
    /* justify-content: center; */
}

.wrapper {
    border: 1px solid #444;
    padding: 0 20px 0 20px;
    border-radius: 15px;
    padding-top: 25px;
}

.image {
    width: 100%;
}

.h1-nati {
    font-weight:bold ;
}

h1,p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}